<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./styles/style3.css">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section>
            <div class = "image">
                <!-- image here -->
            </div>

            <div class = "content">
                <h2>About Us</h2>
                <span><!-- line here --></span>

                <p>This is our IWP project to showcase a website making use of Computer Vision applications. In particular people can sign up on the website ( User Login Module ) to try out the application for Emotion Detection and learn more about the field.


</p>

                <ul class = "links">
                    <li><a href = "open.html" target="_blank">work</a></li>

                    <div class = "vertical-line"></div>

                    <li><a href = "index_team.html" target="_blank">Our Team</a></li>

                    <div class = "vertical-line"></div>
                    
                    <li><a href = "Our_Application.html" target="_blank">To know more about our application</a></li>
                </ul>

                <ul class = "icons">
                    <li>
                        <i class = "fa fa-twitter"></i>
                    </li>
                    <li>
                        <i class = "fa fa-facebook"></i>
                    </li>
                    <li>
                        <i class = "fa fa-github"></i>
                    </li>
                    <li>
                        <i class = "fa fa-pinterest"></i>
                    </li>
                </ul>
            </div>
        </section>
        
    </body>
</html>